<!DOCTYPE html>
<html>
<head>
    <title>Pronouncing Pilchard</title>
    <link rel="stylesheet" type="text/css" href="/static/enunciating.css">
    <script type="text/javascript" src="/static/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="/static/enunciating.js"></script>
</head>
<body>

<div id="main-cont">
    <div id="logo"></div>

    <div id="search-cont">
        <input id="search-input" type="text" placeholder="enter a word to pronounce">
    </div>

    <div id="dynamic">

    </div>

    <div id="copyrights">

    </div>
</div>

</body>
</html>
