{% if cmu_pronunciations %}
    <div class="dynamic-item">
        <h3>Phonemes</h3>

        <ol style="margin-bottom: -5px">
        {% for description, transcription in cmu_pronunciations %}
            <li><b>{{ description }}</b>:
                {% for phone in transcription %}
                    {% if phone|slice:"-1:" == '0' %}
                        <div style="font-size: 0.9em; display: inline-block">{{ phone|slice:":-1" }}</div>
                    {% elif phone|slice:"-1:" == '1'  %}
                        <div style="font-size: 1.1em; display: inline-block">{{ phone|slice:":-1" }}</div>
                    {% elif phone|slice:"-1:" == '2'  %}
                        <div style="font-size: 1.2em; display: inline-block">{{ phone|slice:":-1" }}</div>
                    {% else %}
                        {{ phone }}
                    {% endif %}
                    &nbsp;
                {% endfor %}
            </li>
        {% endfor %}
        </ol>
    </div>
{% endif %}


{% if LWiki %}
    <div class="dynamic-item">
        <h3>From Wiktionary</h3>

    {# IPA pronunciations #}
    {% if LWiki.0 %}
        <h4>IPA pronunciations</h4>
        <ul>
        {% for k, v in LWiki.0.items %}
            <li><b>{{ k|escape }}</b>: {{ v|join:", "|escape }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {# Audio files #}
    {% if LWiki.1 %}
        <h4>Audio files</h4>
        <ul>
        {% for fnam, lang in LWiki.1 %}
            <li><b>{{ lang|escape }}</b>: <a href="https://en.wiktionary.org/wiki/File:{{ fnam|escape }}" target="_blank">{{ fnam|escape }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {# Rhymes with #}
    {% if LWiki.2 %}
        <h4>Rhymes with</h4>
        <ul>
        {% for s in LWiki.2 %}
            <li><a href="https://en.wiktionary.org/wiki/Rhymes:English/{{ s|escape }}" target="_blank">{{ s|escape }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endif %}



{% if audio_files %}
    {% for set_key, key, i_audio_files in audio_files %}
        <div class="dynamic-item">
            <h3>{{ key }}</h3>

            {% for fn in i_audio_files %}
                <li style="list-style-type: none">
                    <audio id="audio{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" src="get_sound?key={{ set_key }}&file={{ fn }}" type="audio/mpeg"></audio>
                    <button class="play" onclick="enunciating.play({{ forloop.parentloop.counter0 }}, {{ forloop.counter0 }})"><span style="color: green">&#9654;</span> Play</button>
                    <a href="get_sound?key={{ set_key }}&file={{ fn }}"><button class="download"><b>↓</b> Download</button></a>
                </li>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>No sounds found.</p>
{% endif %}


