<!DOCTYPE html>
<html>
<head>
    <title>HelpPronounce.com - find pronunciations and phonemes quickly!</title>

    <meta name="viewport" content="width=495, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/enunciating.css">
    <script type="text/javascript" src="/static/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="/static/enunciating.js"></script>
</head>
<body>

<div id="main-cont">
    <div id="logo" style="">
        <div style="text-shadow: 0px 0px 10px darksalmon; font-size: 2.5em; display: flex;
            align-items: center; justify-content: center; height: 100%;">HelpPronounce.com</div>
    </div>

    <div id="search-cont">
        <input id="search-input" type="search" placeholder="enter a word to pronounce" value="">
    </div>

    <div id="dynamic">

    </div>

    <div id="copyrights">
        Web interface copyright © Dave Morrissey 2016-2020.<br>See <a href="/static/license.html">licenses</a> for sound file licensing information.<br>
        <a href="https://github.com/mcyph/help_pronounce">View source code on GitHub</a>

        <p style="color: darkgreen; font-size: 1.1em">◇ <span style="color: brown">Share</span>: on <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//helppronounce.com/">Facebook</a> or
            <a href="https://twitter.com/home?status=http%3A//helppronounce.com/">Twitter</a> ◇</p>
    </div>

</div>

</body>
</html>
